// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files


@font-family-name__fugue:'Fugue';
@font-family__fugue: @font-family-name__fugue, @font-family__sans-serif;
@font-family-name__gt:'GT-Sectra-Fine';
@font-family__gt: @font-family-name__gt, @font-family__sans-serif;
